<div class="container md:w-[64rem] mx-auto px-2 md:px-0 mt-5 md:mt-10" data-controller="editor">
  <%= form_with url: @submit_url, model: @article do |form| %>
    <div class="flex flex-col md:flex-row gap-2">
      <div class="w-full md:w-9/12">
        <div class="bg-white border rounded-md p-2 mb-2 space-y-4">
          <div class="flex flex-col space-y-2">
            <%= form.text_field :title, class:"form-control shadow-inner", placeholder: "Add title", required: true, "maxlength": 100, "minLength": 1 %>
          </div>
          <div class="flex flex-col space-y-2" x-data="{ preview: false }">
            <div class="flex items-center justify-between">
              <%= form.label :content, "Content" %>
              <div role="group">
                <button type="button" class="btn btn-sm" :class="preview || 'bg-blue-700'" @click="preview=false">Write</button>
                <button type="button" class="btn btn-sm" :class="!preview || 'bg-blue-700'" @click="preview=true;update_content_preview()">Preview</button>
              </div>
            </div>
            <%= form.text_area :content, rows: "20", "x-show":"!preview", class: "form-control shadow-inner", placeholder: "Add content" %>
            <div class="flex flex-row items-center justify-between text-xs text-gray-500" x-show="!preview">
              <div>Attach images by dragging</div>
              <div class="flex flex-row items-center space-x-2 hidden" data-editor-target="uploadProgress">
                <svg class="animate-spin h-4 w-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="3"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span data-editor-target="uploadProgressMessage">0/0 uploading</span>
              </div>
            </div>
            <div x-show="preview" id="content-preview" class="min-w-full border p-3 rounded prose"></div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-3/12 mb-2 md:mb-0">
        <div class="md:px-2 flex flex-col space-y-3">
          <div class="flex flex-col space-y-2">
            <%= form.label :category_id, "Category" %>
            <%= form.select :category_id, @category_options, {}, {class: "form-control shadow-sm"} %>
          </div>
          <div class="flex flex-col space-y-2">
            <%= form.label :created_at, "Date" %>
            <%= form.datetime_local_field :created_at, value: @article.created_at_datetime_local_field, class: "form-control shadow-sm", required: true %>
          </div>
          <div class="flex flex-col space-y-2">
            <%= form.label :status, "Status" %>
            <%= form.select :status, %w[published draft], {}, { class: "form-control shadow-sm"}%>
          </div>
          <div class="flex flex-col space-y-2">
            <%= form.button "Save", class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    function update_content_preview() {
        const value = document.getElementById('article_content').value
        document.getElementById('content-preview').innerHTML = marked.parse(value);
    }
</script>
