<div class="container md:w-[32rem] mx-auto mt-4 md:mt-10">
  <% flash.each do |flash_type, message| %>
    <div class="p-4 my-4 rounded bg-blue-300">
      <%= message %>
    </div>
  <% end %>

  <div class="flex flex-col bg-white p-4 rounded border space-y-4">
    <%= form_with url: admin_update_settings_path do |form| %>
      <div class="flex flex-col space-y-4">
        <div class="flex flex-col space-y-2">
          <div class="flex flex-row space-x-2 items-center">
            <%= form.label :site_favicon, "Favicon" %>
            <img src="/public/uploads/favicon.ico" alt="favicon" class="w-4 h-4">
          </div>
          <%= form.file_field :site_favicon, class:"form-control", accept: ".ico"%>
        </div>

        <div class="flex flex-col space-y-2">
          <div class="flex flex-row space-x-2 items-center">
            <%= form.label :blog_background_color, "Blog background color" %>
            <div class="h-5 w-5 border rounded-full" style="background-color: <%= @settings[:blog_background_color] %>">
            </div>
          </div>
          <%= form.text_field :blog_background_color, class:"form-control", value:@settings[:blog_background_color], placeholder: "#ffffff" %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= form.label :blog_name, "Blog name" %>
          <%= form.text_field :blog_name, class:"form-control", value:@settings[:blog_name], placeholder:@settings[:blog_name], required: true %>
        </div>
        <div class="flex flex-col space-y-2">
          <%= form.label :admin_username, "Admin username" %>
          <%= form.text_field :admin_username, class:"form-control", value:@settings[:admin_username], placeholder: "admin", required: true%>
        </div>
        <div class="flex flex-col space-y-2">
          <%= form.label :admin_password, "Admin password" %>
          <%= form.password_field :admin_password, class:"form-control", value:@settings[:admin_password], placeholder: "password", required: true%>
        </div>
        <%= form.button "Update", class:"btn" %>
      </div>
    <% end %>

  </div>
</div>