<div class="container md:w-[32rem] mx-auto mt-4 md:mt-10">
  <% flash.each do |flash_type, message| %>
    <div class="p-4 my-4 rounded bg-blue-300">
      <%= message %>
    </div>
  <% end %>

  <div class="flex flex-col bg-white p-4 rounded border space-y-4">
    <%= form_with url: admin_update_settings_path do |form| %>
      <div class="flex flex-col space-y-4">
        <div class="flex flex-col space-y-2">
          <div class="flex flex-row items-center">
            <%= form.label :site_favicon, "Favicon", class: "form-label" %>
            <img src="/favicon.png" alt="logo" class="ml-2 w-5 h-5">
            <img src="/public/uploads/logo.png" alt="logo" class="ml-2 w-5 h-5">
          </div>
          <%= form.file_field :site_favicon, class:"form-control", accept: ".ico,.png,.gif,.jpeg,.svg"%>
        </div>
        <div class="flex flex-col space-y-2">
          <%= form.label :blog_name, "Blog name", class: "form-label" %>
          <%= form.text_field :blog_name, class:"form-control", value:@settings[:blog_name], placeholder:@settings[:blog_name], required: true %>
        </div>
        <div class="flex flex-col space-y-2">
          <%= form.label :admin_username, "Admin username", class: "form-label" %>
          <%= form.text_field :admin_username, class:"form-control", value:@settings[:admin_username], placeholder: "admin", required: true%>
        </div>
        <div class="flex flex-col space-y-2">
          <%= form.label :admin_password, "Admin password", class: "form-label" %>
          <%= form.password_field :admin_password, class:"form-control", value:@settings[:admin_password], placeholder: "password", required: true%>
        </div>
        <%= form.button "Update", class:"btn" %>
      </div>
    <% end %>

  </div>
</div>