<!DOCTYPE html>
<html>
  <head>
    <title>Goose - Admin</title>
    <link rel="icon" href="/favicon.png" sizes="96x96" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-color: #f6f8fa" >
    <nav class="bg-white shadow py-4 px-4">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <div class="mr-4">
            <%= link_to "/admin", class: "flex items-center" do %>
              <%= image_tag("logo.png", :alt => "Logo", width:30, height: 30, class: "mr-2" ) %>
              <span>Goose</span>
            <% end %>
          </div>
          <div class="hidden md:flex flex-row space-x-4">
            <%= link_to "New", "/admin", class: "text-gray-500 hover:text-gray-900" %>
            <%= link_to "Article", "/admin/article", class: "text-gray-500 hover:text-gray-900" %>
            <%= link_to "Category", "/admin/article", class: "text-gray-500 hover:text-gray-900" %>
            <%= link_to "Storage", "/admin/article", class: "text-gray-500 hover:text-gray-900" %>
            <%= link_to "Setting", "/admin/article", class: "text-gray-500 hover:text-gray-900" %>
          </div>
        </div>

        <div class="flex">
          <%= link_to "Sign out", "/admin/article", class: "text-gray-500 hover:text-gray-900" %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
