<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-color: #f6f8fa" >
    <nav class="py-2 md:py-0 px-2 border-gray-200 border-b bg-white">
      <div class="container mx-auto flex flex-row justify-between items-center">
        <div class="flex flex-row items-center">
          <div class="mr-4 flex flex-row items-center">
            <%= link_to admin_root_path, class: "flex items-center" do %>
              <%= image_tag("logo.png", :alt => "Logo", width:35, height: 35, class: "mr-2" ) %>
              <span class="font-medium"><%= @blog_name %></span>
            <% end %>
          </div>
          <div class="admin-nav">
            <%= admin_nav_link "Editor", admin_root_path %>
            <%= admin_nav_link "Articles", admin_articles_path %>
            <%= admin_nav_link "Categories", admin_categories_path %>
            <%= admin_nav_link "Settings", admin_settings_path %>
            <%= admin_nav_link "View site", root_path %>
          </div>
        </div>
        <div class="flex">
          <%= button_to "Logout", admin_logout_path, method: :delete, class: "text-sm text-slate-400 hover:text-slate-500" %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
