<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= blog_favicon %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="<%= @blog_mates[:blog_background_color] %>">
  <style>
    body {
        background-color: <%= @blog_mates[:blog_background_color] %>;
    }
    footer {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #333;
    }
    code {
        padding: .5rem;
        background-color: #CCCCCC;
        border-radius: 2px;
    }
  </style>
</head>

<body>
<h1>
  <%= link_to @blog_mates[:blog_name], root_path %>
</h1>
<%= yield %>
<footer>
  <i>Powered by <a href="https://github.com/blackstorm/goose" target="_blank">Goose</a></i>
</footer>
</body>
</html>
