<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= blog_favicon %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="<%= @blog_mates[:blog_background_color] %>">
  <style>
    body {
        background-color: <%= @blog_mates[:blog_background_color] %>;
    }
    footer {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #333;
    }
    img {
        max-width: 100%;
    }
    code {
        padding: .5rem;
        background-color: #CCCCCC;
        border-radius: 2px;
    }

    @media only screen and (min-width: 2000px) {
        body {
            width: 960px;
            margin: 0 auto;
        }
    }
  </style>
</head>

<body>
<h1>
  <%= link_to @blog_mates[:blog_name], root_path %>
</h1>
<main>
  <%= yield %>
</main>
<% if @blog_mates[:blog_custom_html].nil? %>
<%= render "blog/footer" %>
<% else %>
<%= @blog_mates[:blog_custom_html] && @blog_mates[:blog_custom_html].html_safe %>
<%= render "blog/footer" %>
<% end %>
</body>
</html>
